{%extends 'base.html' %}

{% block title %}
DrinkTeam
{% endblock %}

{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">DrinkTeam представляет!</h1>
        <p class="lead text-muted">Мы спасем твою вечеринку , и найдем коктейль который подходит исходя из ваших ингредиентов!Есть свой рецепт?Поделись им!</p>
        <p>
          <a href="#" class="btn btn-primary my-2 ">Найти рецепт</a>
          <a href="#" class="btn btn-secondary my-2">Создать свой</a>
        </p>
      </div>
    </div>
  </section>{% endblock %}